.six{
    height: 100vh;
    position: relative;
    background-color: #c5bdb4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* was center */
    align-items: center;
    overflow: hidden; 
}


/* CHANGED: Moved Top Line UP to 0% as per your request */
.six-line{
    top: 0%; 
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #1c1b19;
    position: absolute;
    z-index: 1; /* Lines stay behind text if overlap happens */
}

.row {
    display: flex;
    position: absolute;          /* NEW */
    top: 15%;                    /* <<< controls how high it sits between the lines */
    left: 50%;                   /* center horizontally */
    transform: translateX(-50%); /* center horizontally */

    width: 95%;
    justify-content: space-around;
    z-index: 10;
    align-items: center;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    padding: 0 0px;
}

/* Small Top Labels (Theatre, Cinema) */
.sotd, .sotd-two, .sotd-three {
    font-family: gramlight;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #1c1b19;
    letter-spacing: 2px;
    margin-bottom: 5px; /* Minimal spacing */
}

/* Headers (Festival Names) */
.st-head, .st-head-two {
    font-family: scari;
    /* CHANGED: Reduced to 2em to save vertical space */
    font-size: 2em; 
    text-transform: uppercase;
    color: #1c1b19;
    line-height: 1.1;
    margin-bottom: 5px;
    min-height: 2.2em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* The Big Text (Awards) */
.award-text {
    font-family: scari;
    /* CHANGED: Reduced to 2.5em so it doesn't push "Theatre" into the top line */
    font-size: 2.5em; 
    color: #b55937;
    line-height: 1;
    margin-top: 5px;
    text-transform: uppercase;
}

/* Role Tag */
.role-tag {
    font-family: gramlight;
    font-size: 1em;
    color: #1c1b19;
    margin-top: 5px;
    font-style: italic;
    opacity: 0.8;
}

/* CHANGED: Moved Bottom Line DOWN to 50% as per your request */
.six-line-two{
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #1c1b19;
    position: absolute;
    z-index: 1;
}
